.list {
    list-style: none;
    margin: 0;
    padding-left: 1rem;
    padding-right: 1rem;
}

.card_scroll_container {
    display: flex;
    flex-direction: column;
}

.most_liked_hint {
    margin-left: 1.5rem;
    margin-top: 0.5rem;
    background-color: var(--color-secondary);
    border-top-left-radius: 0.2rem;
    border-top-right-radius: 0.2rem;
    width: 12rem;
    height: 2rem;
    text-align: center;
    color: var(--color-background);
}


.topic_card_header {
    display: flex;
    min-height: 3rem;
    flex-direction: row;
    align-items: center;
    align-content: center;
    border-left: .25rem solid var(--color-background);
}

/*do not delete*/
.most_liked_highlight {
    border-radius: 1rem;
    border: .25rem solid var(--color-secondary);
}

.topic_card_header button img {
    width: 1.35rem;
    height: 1.35rem;
    margin: 0.5rem;
}

.topic_card_header h4 {
    padding-left: 0;
    margin-right: auto;
}

.topic-card-details {
    padding-left: 3rem;
    padding-top: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: var(--color-background);
    border-radius: 0.2rem;
}

.topic_card_details_owner {
    display: flex;
    flex-direction: row;
}

.topic_card_details_owner_actions {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.topic_card_details_owner_actions button {
    margin-left: 0.5rem;
}

.description {
    padding: 0.5rem;
    margin-right: 0;
    width: 100%;
    border: 0.1rem;
    border-style: solid;
    border-color: var(--main-color-border-light);
    border-radius: 0.15rem;
    font-size: 0.85rem;
}

.presenter {
    padding-top: 0.25rem;
    margin-right: 1rem;
    font-size: 0.9rem;
    text-align: end;
}

.action_button {
    cursor: pointer;
    background: none;
    border-style: none;
    border-radius: 0.2rem;
    font-weight: bold;
    display: flex;
    place-items: center;
}


.my-topics-add-button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.submit-button {
    margin-top: 0;
    margin-left: auto;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-right: 0;
}

ul {
    margin-bottom: 5rem;
}
