.instruction_container {
    display: flex;
    flex-direction: row;
    justify-items: center;
    margin-right: 1rem;
    margin-bottom: 5rem;
    height: fit-content;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
}

.instruction_card {
    position: relative;
    margin-right: 0.25rem;
    margin-bottom: 1rem;
}

.instruction_card_content_header_title {
    font-size: 0.75rem;
    font-stretch: extra-expanded;
    font-weight: bolder;
}

.instruction_card_content {
    margin-left: 0.25rem;
    margin-top: 1rem;
    padding-right: 0.25rem;
    padding-left: 0.5rem;
    border-style: solid;
    border-radius: 0.2rem;
    font-size: 0.6rem;
    height: 100%;
    border-color: var(--color-primary);
}

.instruction_card_enumerator {
    position: absolute;
    left: 0;
    top: 0;
    height: 3rem;
    width: 3rem;
    background-color: var(--color-primary);
    border: 0.2rem;
    border-radius: 3rem;
    border-style: solid;
    border-color: var(--color-background);
    color: var(--color-background);
    font-size: 1.5rem;
    font-weight: normal;
    text-align: center;
}
